# Defines the root where code is stored for use in the plugins.
export ZK_CODE_ROOT="${HOME}/code"
export ZK_PLUGINS_ROOT="${ZK_CODE_ROOT}/zenelk/shell-plugins"

# ZTODO: I would really like to have colorized output for my own logs. Maybe a logging plugin?

function load_plugins() {
  local plugins=(
    # Needs to be first if you're using `function_redefine` in the plugins.
    'init'

    # Fill in the array with plugins to turn on.
  )

  for plugin in "${plugins[@]}"; do
    source "${ZK_PLUGINS_ROOT}/${plugin}/${plugin}-plugin.zsh"
  done
}

load_plugins
